
    <div class="box2">
        <div class="b2">
            <h1>Are You Looking For A Car?</h1>
            <p>We are committed to providing our customers with exceptional service.</p>
            <div class="box2_go">
                <a href="/listing">Browse ^</a>
                <img src="/images/electric-car.svg" alt="">
            </div>
        </div>
        <div class="b2">
            <h1>Looking For Car Service?</h1>
            <p>We are committed to providing our customers with exceptional service.</p>
            <div class="box2_go">
                <a href="/carService">Book Service</a>
                <img src="/images/electric-car2.svg" alt="">
            </div>
        </div>
    </div>
