<%-include('header.ejs')%>
<%- include('navbar.ejs')%>
<div class="mainDiv">
    <div class="cardStyle">
      <form action="/change_password" method="post" name="signupForm" id="signupForm">
        
        <img src="" id="signupLogo"/>
        
        <h2 class="formTitle">
          Chnage Password
        </h2>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">Old Password</label>
        <input type="password" id="password" name="old_password" >
      </div>
        
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">New Password</label>
        <input type="password" id="confirmPassword" name="new_password">
      </div>
      
      <div class="buttonWrapper">
        <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
          <span>Change</span>
        </button>
      </div>
        
    </form>
    </div>
  </div>

  <%- include('footer.ejs') %>