<body>
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<span class="shtext">Contact Us</span>
					<span class="seperator"></span>
					<h1>Drop Us a Mail</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58741.80583086919!2d72.4782327486328!3d23.047154699999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8485dd429725%3A0xe5b9fcf276a9a0da!2sKrishna%20Cars!5e0!3m2!1sen!2sin!4v1712228686085!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>Gitanjali Complex, 11-12, Darpan Six Rd, Arunesh Society, Naranpura, Ahmedabad, Gujarat 380013</p>
							<p><span class="collig">Phone :</span> +91 8866211003</p>
							<p><span class="collig">Email :</span> krishna.cars.27@gmail.com</p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form action="/contact_us" method="post">
							<div class="clearfix">
								<input type="text" name="msg" placeholder="Enter Your Messege Here" required>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>
</body>