<!-- <h2 class="divider line glow" contenteditable></h2> -->

  <footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4> 
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our service</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our Brands</h4>
                <ul>
                    <li><a href="#">Audi</a></li>
                    <li><a href="#">Mercides</a></li>
                    <li><a href="#">Toyota</a></li>
                    <li><a href="#">Ford</a></li>
                    <li><a href="#">Suzuki</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Vehical Type</h4>
                <ul>
                    <li><a href="#">Sedan</a></li>
                    <li><a href="#">SUV</a></li>
                    <li><a href="#">Hybrid</a></li>
                    <li><a href="#">Electric</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <!-- <a href="#"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
