<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

  <link rel="stylesheet" href="/stylesheets/index.css">

  <link rel="stylesheet" href="/stylesheets/navbar.css">

  <link rel="stylesheet" href="/stylesheets/box2.css">

  <link rel="stylesheet" href="/stylesheets/footer.css">

  <link rel="stylesheet" href="/stylesheets/why_choose_us.css">

  <link rel="stylesheet" href="/stylesheets/our_team.css">

  <link rel="stylesheet" href="/stylesheets/contact_us.css">

  <link rel="stylesheet" href="/stylesheets/listing.css">

  <link rel="stylesheet" href="/stylesheets/carService.css">

  <link rel="stylesheet" href="/stylesheets/details.css">

  <link rel="stylesheet" href="/stylesheets/checkout.css">

  <link rel="stylesheet" href="/stylesheets/profile.css">

  <link rel="stylesheet" href="/stylesheets/chnage_password.css">

 <link rel="stylesheet" href="/stylesheets/booked_services_by_user.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <title>Document</title>
</head>

<body>



</body>


</html>