
<h1 class="ot_banner">Members</h1>
<div class="ot-container">
    <div class="t1">
        <h3>KantiLal</h3>
        <h4>Owner</h4>
        <!-- <img src="/images/mitang.png" alt="" srcset=""> -->
        <img src="/images/profile.png" alt="">
    </div>
    <div class="t1">
        <h3>Shyam</h3>
        <h4>co-owner</h4>
        <!-- <img src="/images/anuj.png" alt="" srcset=""> -->
        <img src="/images/profile.png" alt="">
    </div>
 
</div>