<h1 class="wcu_banner">Why choose us?</h1>
<div class="wcu_container">
    <div class="b1">
        <img src="/images/f1.svg" alt="" srcset="">
        <h2>Special Financing Offers</h2>
        <h3>Our stress-free finance department that can <br>find financial solutions to save you money.</h3>
    </div>
    <div class="b1">
        <img src="/images/f2.svg" alt="" srcset="">
        <h2>Trusted Car Dealership</h2>
        <h3>Our stress-free finance department that can <br>find financial solutions to save you money.</h3>
    </div>
    <div class="b1">
        <img src="/images/f3.svg" alt="" srcset="">
        <h2>Transparent Pricing</h2>
        <h3>Our stress-free finance department that can <br> find financial solutions to save you money.</h3>
    </div>
    <div class="b1">
        <img src="/images/f4.svg" alt="" srcset="">
        <h2>Expert Car Service</h2>
        <h3>Our stress-free finance department that can <br> find financial solutions to save you money.</h3>
    </div>
</div>